@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto+Mono:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

/* 
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Backgrounds */
    --color-darkGreen: #021E10;
    --color-lightGreen: #12FF46;

    /* Fonts colors*/
    --color-whiteFont: rgb(240, 240, 240);
    --color-blackFont: rgb(9, 34, 9);

    /* Fonts sizes */
    --font-small: 1.4rem;
    --font-medium: 1.6rem;
    --font-big: 2.2rem;
    --font-bigBig: 4rem;
}

html {
    font-size: 10px;
}

body {
    background-color: var(--color-darkGreen);
    font-family: 'Lato', sans-serif;
    color: var(--color-whiteFont);
    max-width: 100vh;
}

.clearfix {
    content: "";
    clear: both;
    display: block;
}

/* ===================== GLOBAL styles ===================== */
a {
    text-decoration: none;
    color: var(--color-whiteFont);
}

p {
    font-size: var(--font-small);
}

h1 {
    font-size: var(--font-bigBig);
}

h2 {
    font-size: var(--font-big);
}

img {
    display: block;
}

ul {
    list-style-type: none;
}

.bold-txt {
    font-weight: bold;
}

.uppsercase-txt {
    text-transform: uppercase;
}

.btn-green {
    display: block;
    padding: 15px 40px;
    border-radius: 40px;
    background-color: var(--color-lightGreen);
    font-size: var(--font-medium);
    font-weight: bold;
    color: var(--color-darkGreen);
    text-transform: uppercase;
    text-align: center;
}

/* ========================================================= */



/* ===================== HEADER styles ===================== */
header {
    height: 5vh;
    padding: 1rem 2rem 0;
    font-size: var(--font-big);
}

/* header img {
    width: 20vh;
    height: 15vh;
    position: absolute;
} */

.logo-txt {
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--color-lightGreen);
}