/* ^^^^^^^^^^^^^^^^^^^^ global.css ^^^^^^^^^^^^^^^^^^^^ */


/* ===================== MAIN styles ====================== */
main {
    position: relative;

    min-height: 95vh;
    padding: 1rem 2rem;
}

main h1 {
    padding-top: 60px;
    padding-bottom: 60px;
    line-height: 1.1;
}

.start-conv-div {
    text-align: center;
}

.start-conv-div p {
    margin-top: 5px;
}

.start-conv-div p>a {
    font-weight: bold;
    color: var(--color-whiteFont);
}

.main-picture {
    position: absolute;
    bottom: 5%;
    left: 0;

    text-align: center;
}

.main-picture img {
    position: relative;
    width: 100%;
    padding: 4rem 4rem 0 4rem;

    clip-path: polygon(39% 32%, 78% 28%, 67% 97%, 27% 85%, 27% 59%, 19% 51%, 24% 22%);
    z-index: 1;
}

.main-picture span {
    position: absolute;
    bottom: 0;
    left: 13%;

    font-size: 9rem;
    color: var(--color-lightGreen);
    z-index: 2;
}

.green-shadow {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-70%, -60%);

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-lightGreen);
    box-shadow: 0 0 50px 35px var(--color-lightGreen);
    z-index: 0;
}

/* ======================================================== */


/* ===================== SECTION styles ================== */
.main-introdution {
    height: 95vh;
    padding: 3rem 2rem;
}

.intro-txt {
    margin-top: 3rem;
    font-family: 'Roboto Mono', monospace;
}

.intro-txt:last-of-type {
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

/* ======================================================== */


/* ===================== FOOTER styles ================== */
footer {
    height: 5vh;
}

footer ul>li {
    display: block;
    float: left;

    width: 33.33%;
    text-align: center;
}

footer ul>li>a {
    display: block;

    line-height: 5vh;
}

/* ======================================================== */