@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Backgrounds */
    --color-darkGreen: #021E10;
    --color-lightGreen: #12FF46;

    /* Fonts colors*/
    --color-whiteFont: rgb(240, 240, 240);
    --color-blackFont: rgb(9, 34, 9);

    /* Fonts sizes */
    --font-small: 1.4rem;
    --font-medium: 1.6rem;
    --font-big: 2.2rem;
    --font-bigBig: 4rem;
}

html {
    font-size: 10px;
}

body {
    background-color: var(--color-darkGreen);
    font-family: 'Lato', sans-serif;
    color: var(--color-whiteFont);
    max-width: 100vh;
}

/* ===================== GLOBAL styles ===================== */
a {
    text-decoration: none;
}

.btn-green {
    display: block;
    padding: 15px 40px;
    border-radius: 40px;
    background-color: var(--color-lightGreen);
    font-size: var(--font-medium);
    font-weight: bold;
    color: var(--color-darkGreen);
    text-transform: uppercase;
}

p {
    font-size: var(--font-small);
}

h1 {
    font-size: var(--font-bigBig);
}

img {
    display: block;
}

/* ========================================================= */



/* ===================== HEADER styles ===================== */
header {
    height: 5vh;
    padding: 1rem 2rem 0;
    font-size: var(--font-big);
}

/* header img {
    width: 20vh;
    height: 15vh;
    position: absolute;
} */

.logo-txt {
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--color-lightGreen);
}

/* ======================================================== */


/* ===================== MAIN styles ====================== */
main {
    position: relative;

    min-height: 95vh;
    padding: 1rem 2rem;
}

main h1 {
    padding-top: 60px;
    padding-bottom: 60px;
    line-height: 1.1;
}

.start-conv-div {
    text-align: center;
}

.start-conv-div p {
    margin-top: 5px;
}

.start-conv-div p>a {
    font-weight: bold;
    color: var(--color-whiteFont);
}

.main-picture {
    position: absolute;
    bottom: 5%;
    left: 0;

    text-align: center;
}

.main-picture img {
    position: relative;
    width: 100%;
    padding: 4rem 4rem 0 4rem;

    clip-path: polygon(39% 32%, 78% 28%, 67% 97%, 27% 85%, 27% 59%, 19% 51%, 24% 22%);
    z-index: 1;
}

.main-picture span {
    position: absolute;
    bottom: 0;
    left: 13%;

    font-size: 9rem;
    color: var(--color-lightGreen);
    z-index: 2;
}

.green-shadow {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-70%, -60%);

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-lightGreen);
    box-shadow: 0 0 50px 35px var(--color-lightGreen);
    z-index: 0;
}

/* ======================================================== */

/* ==================section=============== */
.main-introdution {
    height: 100vh;
}

/* ======================================== */

/* ======================================================== */


/* ================ login/registration styles =============== */
main .area .area-text {
    width: 60vw;
    height: 5vh;
    padding: 5%;
    margin: 2%;
    background-color: white;
    border-radius: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #12FF46;
    text-align: center;
    outline: none;
    color: black;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main .area a {
    text-decoration: none;
    color: white;
}

main .area button {
    width: 30vw;
    height: 5vh;
    margin: 2%;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    background-color: #12FF46;
    outline: none;
    border: none;
    -webkit-box-shadow: 8px 8px 44px -13px rgba(98, 245, 12, 1);
    -moz-box-shadow: 8px 8px 44px -13px rgba(98, 245, 12, 1);
    box-shadow: 8px 8px 44px -13px rgba(98, 245, 12, 1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ======================================== */

/* ======================================================== */